{% extends 'app/auth_template/base.html' %}
{% load static %}

{% block title %}Hoàn tất{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="container">
  <div class="form-container sign-in-container reset-form reset-complete">
    <form>
        <h1>Thành công 🎉</h1>
        <p>Mật khẩu của bạn đã được cập nhật.</p>
        <button type="button" onclick="window.location='{% url 'login' %}'">
        Đăng nhập
        </button>
    </form>
    </div>


  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Chào mừng trở lại!</h1>
        <p>Giờ bạn có thể đăng nhập với mật khẩu mới.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
