<footer class="footer">
    <section class="footer-columns">
        <div class="col">
            <h4>Hỗ trợ</h4>
            <p>Trung tâm hỗ trợ</p>
            <p>Hướng dẫn đặt phòng</p>
            <p>Chính sách hủy</p>
            <p>Bảo mật & an toàn</p>
            <p>Báo cáo sự cố</p>
            <p>Câu hỏi thường gặp</p>
        </div>

        <div class="col">
            <h4>Dành cho Chủ nhà</h4>
            <p>Đăng phòng cho thuê</p>
            <p>Tài nguyên dành cho chủ nhà</p>
            <p>Cẩm nang an toàn cho Host</p>
            <p>Diễn đàn cộng đồng</p>
            <p>Chính sách bảo vệ Host</p>
            <p>Khóa học dành cho Host</p>
        </div>

        <div class="col">
            <h4>Về chúng tôi</h4>
            <p>Giới thiệu</p>
            <p>Tin tức</p>
            <p>Cơ hội hợp tác</p>
            <p>Điều khoản sử dụng</p>
            <p>Chính sách quyền riêng tư</p>
            <p>Liên hệ</p>
        </div>
    </section>

    <hr>

    <section class="footer-bottom">
        <div class="left">
            © {% now "Y" %} HomeNest · Quyền riêng tư · Điều khoản
        </div>

        <div class="right">
            <span><i class="fa-solid fa-globe"></i> Tiếng Việt (VN)</span>
            <span>₫ VND</span>
            <span class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </span>
        </div>
    </section>
</footer>