{% extends 'app/base.html' %}
{% load static %}

{% block title %}Tạo BnB mới{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app/css/header.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Tạo chỗ ở mới</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Tiêu đề</label>
        <input class="form-control" name="title">
      </div>
      <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <textarea class="form-control" name="description"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Ảnh</label>
        <input type="file" name="images" multiple class="form-control">
      </div>
      <button class="btn btn-primary">Tạo</button>
    </form>
  </div>
{% endblock %}
