<footer class="footer">
    <section class="footer-columns">
        <div class="col">
            <h4>Hỗ trợ</h4>
            <p>Trung tâm trợ giúp</p>
            <p>Yêu cầu trợ giúp về vấn đề an toàn</p>
            <p>AirCover</p>
            <p>Chống phân biệt đối xử</p>
            <p>Hỗ trợ người khuyết tật</p>
            <p>Các tùy chọn hủy</p>
            <p>Báo cáo lo ngại của khu dân cư</p>
        </div>

        <div class="col">
            <h4>Đón tiếp khách</h4>
            <p>Cho thuê nhà trên Airbnb</p>
            <p>Đưa trải nghiệm của bạn lên Airbnb</p>
            <p>Đưa dịch vụ của bạn lên Airbnb</p>
            <p>AirCover cho host</p>
            <p>Tài nguyên về đón tiếp khách</p>
            <p>Diễn đàn cộng đồng</p>
            <p>Đón tiếp khách có trách nhiệm</p>
            <p>Tham gia khóa học miễn phí về công việc Đón tiếp khách</p>
            <p>Tìm host hỗ trợ</p>
        </div>

        <div class="col">
            <h4>Airbnb</h4>
            <p>Bản phát hành Mùa hè 2025</p>
            <p>Trang tin tức</p>
            <p>Cơ hội nghề nghiệp</p>
            <p>Nhà đầu tư</p>
            <p>Chỗ ở khẩn cấp Airbnb.org</p>
        </div>
    </section>

    <hr>

    <section class="footer-bottom">
        <div class="left">
            © {% now "Y" %} Airbnb, Inc · Quyền riêng tư · Điều khoản
        </div>

        <div class="right">
            <span><i class="fa-solid fa-globe"></i> Tiếng Việt (VN)</span>
            <span>₫ VND</span>
            <span class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </span>
        </div>
    </section>
</footer>
