{% load static %}
<header>
    <nav class="ab-header">
        <div class="ab-left">
            <div class="logo-wrap">
                <img src="{% static 'app/images/logo.jpg' %}" class="ab-logo">
            </div>
        </div>

        <div class="ab-center">
            <a href="{% url 'home' %}" class="site-title">
                <span class="home-text">Home</span>
                <span class="accent-text">Nest</span>
            </a>
        </div>

        <div class="ab-right">
            <a href="{% url 'taobaidang' %}" class="host-btn"><i class="fa-solid fa-user-plus"></i> Trở thành host</a>
            <button class="ab-icon" aria-label="Menu"><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
<!-- MENU DROPDOWN -->
<div class="menu-dropdown" id="menuDropdown">

    <!-- ITEM 1 -->
    <a href="{% url 'trungtamtrogiup' %}" class="md-item">
        <i class="fa-regular fa-circle-question"></i>
        Trung tâm trợ giúp
    </a>

    <!-- BLOCK HOST -->
    <a href="{% url 'taobaidang' %}" class="md-block">
        <div class="left">
            <div class="title">Trở thành host</div>
            <div class="desc">Bắt đầu đón tiếp khách và kiếm thêm thu nhập thật dễ dàng.</div>
        </div>
    </a>

    <a href="{% url 'login' %}" class="md-item">Đăng nhập hoặc đăng ký</a>

</div>


    <nav class="ab-footer">
        <div class="ab-search">

            <!-- ITEM 1 -->
            <div class="ab-search-item">
                <span class="label">Địa điểm</span>
                <span class="value">Tìm kiếm điểm đến</span>
            </div>
            <div class="divider"></div>

            <!-- ITEM 2 -->
            <div class="ab-search-item">
                <span class="label">Thời gian</span>
                <span class="value">Thêm ngày</span>
            </div>
            <div class="divider"></div>

            <!-- ITEM 3 + SEARCH BUTTON -->
            <div class="search-last">
                <div class="search-last-left">
                    <span class="label">Khách</span>
                    <span class="value">Thêm khách</span>
                </div>
                <button class="ab-search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

        </div>
    </nav>

</header>

<script src="{% static 'app/js/header.js' %}"></script>
