{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <title>Nơi lưu trú</title>
</head>

<body>
    {% include 'app/header.html' with active_page='home' %}
    <!-- LISTINGS -->
    <main>

        <section class="section cards-section popular-city">
            <div class="section-header">
                <h2>Nơi lưu trú được ưa chuộng tại Hồ Chí Minh ›</h2>
                <!-- NÚT LƯỚT -->
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1496408576612343725/original/0bbb91de-5c32-46ce-b2aa-4914c331fc13.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫798.000 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1386690223982968237/original/4df20859-007e-4a86-8db1-7a008298e23e.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫911.800 cho 2 đêm · ★4,98</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1425899556206659577/original/140dc752-7bb4-49f7-b47f-69ef266c1d47.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫1.751.860 cho 2 đêm · ★4,82</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1462849377191931233/original/081e4730-71e3-43f9-a70e-3b21842046f8.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ chung cư cao cấp tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫2.360.000 cho 2 đêm · ★4,96</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1418059956711068789/original/ed9cbbbf-14b4-4c38-9624-8f6a7930f7a9.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫935.765 cho 2 đêm · ★4,93</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1235381201807167628/original/b1da5d38-c543-47bf-ba92-cc07d6f1b4d5.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫3.388.343 cho 2 đêm · ★4,93</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-902740396149438067/original/e254a078-c5ed-43f9-888a-1ed7d79f708b.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Tân Phú</h4>
                        <p class="meta">₫899.818 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1326172669268706395/original/f14542ea-9530-4091-979e-27a913770892.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nhà tại Thành phố Hồ Chí Minh</h4>
                        <p class="meta">₫4.097.079 cho 2 đêm · ★5,0</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: CÒN PHÒNG TẠI HÀ NỘI VÀO THÁNG TỚI -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Còn phòng tại Hà Nội vào tháng tới ›</h2>
                <!-- NÚT LƯỚT -->
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1543226481919602359/original/047057f9-0e77-429c-8cc6-9dddf4f653b3.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nơi ở tại Quận Đống Đa</h4>
                        <p class="meta">₫846.820 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1180221875142168010/original/abdf5717-8510-4c97-ac2f-302c058093df.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫639.059 cho 2 đêm · ★4,75</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1151216889313926411/original/b165111c-9cbf-4bf7-984c-2bd0956150d6.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫1.539.000 cho 2 đêm · ★4,88</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1207805086134572738/original/a151029a-2fd7-4aa7-baf8-569a3b32a24b.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫1.111.452 cho 2 đêm · ★4,96</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1376847746179925424/original/a27f86c9-bd65-4ca4-8730-7e9fcbd8fc0e.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Quận Tây Hồ</h4>
                        <p class="meta">₫2.259.530 cho 2 đêm · ★4,78</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1153423110798319101/original/d3d1dbca-0a22-4ae7-a6f3-406430d12830.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫1.260.000 cho 2 đêm · ★4,81</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE0NjI0MjA3MjE0OTA3MTU5OA%3D%3D/original/65b04fdd-0592-480a-a41d-17ba4b851533.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nơi ở tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫570.546 cho 2 đêm · ★4,83</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/b4733660-8ec0-48dc-997c-cf620bc41626.jpg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Hoàn Kiếm</h4>
                        <p class="meta">₫1.232.125 cho 2 đêm · ★4,93</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: CHỖ Ở TẠI Quận 1 -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Chỗ ở tại Quận 1 ›</h2>
                <!-- NÚT LƯỚT -->
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1364503055472486650/original/b0a17453-354e-4982-b818-a16de0e8f0b2.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Đa Kao</h4>
                        <p class="meta">đ1.894.354 cho 2 đêm · ★4,76</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6ODAzOTc1MzU2NTEzNTcyNjkw/original/e171f451-ab0c-4497-b992-9105566402c8.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Cô Giang</h4>
                        <p class="meta">đ1.609.060 cho 2 đêm · ★4,97</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1510945975797846368/original/e199fc98-b2cd-4ba4-8a9b-b2195ac4bbf1.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Phạm Ngũ Lão</h4>
                        <p class="meta">đ1.597.648 cho 2 đêm · ★4,83</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI4NDc5NTYxODk1ODc0NDExNA%3D%3D/original/f6952b9a-32e0-41b9-888a-24d91c254f7b.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Đa Kao</h4>
                        <p class="meta">đ1.386.637 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-54375504/original/8356ac8e-34db-49e2-85eb-3ebbcdcc7867.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nhà tại Cô Giang</h4>
                        <p class="meta">đ3.195.296 cho 2 đêm · ★4,89</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1326172669268706395/original/f14542ea-9530-4091-979e-27a913770892.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nhà tại Cô Giang</h4>
                        <p class="meta">đ4.097.079 cho 2 đêm · ★4,95</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1396886973804448786/original/4f7d01fd-71cf-414b-84c0-160a0bcedd2e.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ chung cư cao cấp tại Phạm Ngũ Lão</h4>
                        <p class="meta">đ2.063.810 cho 2 đêm · ★4,97</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: CÒN PHÒNG TẠI ĐÀ LẠT VÀO CUỐI TUẦN NÀY -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Còn phòng tại Đà Lạt vào cuối tuần này ›</h2>
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1031143726041246737/original/6d066100-9d1d-4fcf-b6fa-eb10695f1fb6.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Phường 1</h4>
                        <p class="meta">đ867.295 cho 2 đêm · ★4,92</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/bfdf27ab-ac56-49be-9c82-ae59313269a2.jpg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nhà phố tại Dalat</h4>
                        <p class="meta">đ2.371.840 cho 2 đêm · ★4,77</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/14c1f895-8d1e-4a14-96d6-8c52e9b8256d.jpg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Dalat</h4>
                        <p class="meta">đ753.177 cho 2 đêm · ★4,76</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-563426164767978151/original/d7bff34f-807d-4f1d-b9ad-4293e203461c.png?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Dalat</h4>
                        <p class="meta">đ3.469.178 cho 2 đêm · ★4,96</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1353653864064161285/original/736f6de3-2004-4bab-b151-074c43995dd1.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Dalat</h4>
                        <p class="meta">đ3.780.000 cho 2 đêm · ★4,89</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/832e961b-b328-4ad2-af23-6251715b890b.jpg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Dalat</h4>
                        <p class="meta">đ3.105.000 cho 2 đêm · ★4,94</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1149852181500806941/original/527e47ac-a168-4f90-b8b5-096971bab757.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Nhà tại Dalat</h4>
                        <p class="meta">đ2.433.447 cho 2 đêm · ★4,89</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1312933678294802979/original/c876f1e5-7690-4a0a-a0dc-a57e703d5823.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Khách sạn tại Dalat</h4>
                        <p class="meta">đ420.000 cho 2 đêm · ★5,0</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: CÒN PHÒNG TẠI ĐÀ NẴNG VÀO THÁNG TỚI -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Còn phòng tại Đà Nẵng vào tháng tới ›</h2>
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/b5376fc0-3a3e-4802-8ef4-56a3baf587ba.jpg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Sơn Trà</h4>
                        <p class="meta">đ718.942 cho 2 đêm · ★4,9</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/0a4bd2da-563b-4f49-8b75-5dfca64b3fc7.jpg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Quận Sơn Trà</h4>
                        <p class="meta">đ798.824 cho 2 đêm · ★4,92</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1558413114768000235/original/5493b30c-c2a0-4048-9859-9012b3feca13.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Khách sạn tại Quận Sơn Trà</h4>
                        <p class="meta">đ1.676.924 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1527350768979919060/original/3f12373f-6644-40e4-9a5b-4e48d4819b3d.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Biệt thự tại Quận Sơn Trà</h4>
                        <p class="meta">đ10.270.593 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTM4NjU2MTg3NDUzMDU1NDQ2Nw==/original/d04b3b4b-50b9-4371-8911-6205206d126c.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Biệt thự tại Quận Sơn Trà</h4>
                        <p class="meta">đ7.680.000 cho 2 đêm · ★4,99</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTQ1MDY5MjQxMzE0MDc5ODkyMg==/original/831a6189-2040-4b30-bebb-089a8e5714fd.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Quận Ngũ Hành Sơn</h4>
                        <p class="meta">đ2.054.119 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-38285617/original/a3177364-73ea-4181-ac9c-ebd0d7630a84.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Khách sạn tại Quận Sơn Trà</h4>
                        <p class="meta">đ1.164.378 cho 2 đêm · ★4,95</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTM2ODU5MTM2NjE2NDQyNzE3Nw==/original/d8ff4c9f-4499-4260-bdb9-9b18b85f5230.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Mân Thái</h4>
                        <p class="meta">đ2.838.048 cho 2 đêm · ★4,95</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: KHÁM PHÁ NƠI LƯU TRÚ TẠI VŨNG TÀU -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Khám phá nơi lưu trú tại Vũng Tàu ›</h2>
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1324955592152429127/original/dbe1334d-c409-4c12-9586-4748fff5332f.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ935.765 cho 2 đêm · ★4,75</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1327307809472209250/original/192a9c3e-88f9-4ca3-a294-985f6ab5197b.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Phòng tại Vũng Tàu</h4>
                        <p class="meta">đ726.750 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-705602580862042057/original/195f641f-55fc-41dc-b9f7-1ddf962bd1d1.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ2.031.072 cho 2 đêm · ★4,87</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-985452273027067097/original/b9a74264-4855-4755-8bb2-3d1c8614f721.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ1.825.883 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1146327806519584685/original/3a21ad86-91e9-4157-a0b3-6d34679b98d2.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ1.950.271 cho 2 đêm · ★4,93</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-858131205689322602/original/06608599-e2ed-4868-8cfa-90da9fb5549c.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ2.054.119 cho 2 đêm · ★4,93</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-925948523846924803/original/ae94ef43-743c-49d2-b4f1-9a2daf475e98.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ1.997.060 cho 2 đêm · ★4,94</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-968556098058240700/original/9b683bf4-1f1c-4af2-9296-534f68312cf2.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Vũng Tàu</h4>
                        <p class="meta">đ1.848.187 cho 2 đêm · ★4,94</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- SECTION: NƠI LƯU TRÚ ĐƯỢC ƯA CHUỘNG TẠI HUYỆN VĂN GIANG -->
        <section class="section cards-section">
            <div class="section-header">
                <h2>Nơi lưu trú được ưa chuộng tại Huyện Văn Giang ›</h2>
                <div class="slider-controls">
                    <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                    <button class="slide-btn right" onclick="slideRight(this)">❯</button>
                </div>
            </div>
            <div class="cards-wrapper">
                <div class="cards-row">
                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1151351297822170295/original/6608e314-b668-4f60-b5b8-ce7ad148cff1.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ741.765 cho 2 đêm · ★4,92</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1286736826121492741/original/08c1d595-7718-4004-85e9-fda37aa66df8.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ1.441.979 cho 2 đêm · ★4,94</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTI4NTExNjY0MzgwNDk2NDY2MA==/original/4cccfb0d-a188-405c-a0b9-da83f505d58b.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ1.951.413 cho 2 đêm · ★4,97</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1363415932540979884/original/d28c1567-d02f-4655-8164-b5ce703b1980.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ1.483.530 cho 2 đêm · ★5,0</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1332956004603755686/original/88b48b5a-61cf-4a60-973f-d844334298a2.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ1.039.092 cho 2 đêm · ★4,95</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1358709795835664748/original/2d80cec2-b1cb-494b-a61f-a0d1efe09cb0.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ chung cư cao cấp tại Văn Giang</h4>
                        <p class="meta">đ1.694.646 cho 2 đêm · ★4,97</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/miso/Hosting-1189731487467754109/original/beb1914a-015b-409c-b72d-ac368cf5c6df.jpeg?im_w=1200">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Hồ Thiên Nga</h4>
                        <p class="meta">đ2.199.343 cho 2 đêm · ★4,97</p>
                    </div>

                    <div class="card">
                        <img
                            src="https://a0.muscache.com/im/pictures/hosting/Hosting-1486889413234179338/original/2bb9bc2b-2f0d-448e-b392-fecd4d1771f0.jpeg?im_w=1440">
                        <div class="popular-badge">Được khách yêu thích</div>
                        <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                        <h4>Căn hộ tại Văn Giang</h4>
                        <p class="meta">đ1.529.177 cho 2 đêm · ★5,0</p>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!--FOOTER-->
    {% include 'app/footer.html' %}
</body>
<script src="{% static 'app/js/luotcard.js' %}"></script>

</html>