{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loại chỗ ở</title>
    <link rel="stylesheet" href="{% static 'app/css/loaichoo.css' %}">
</head>
<body>
<div class="start-container">

    <div class="start-header fixed-header">
        <a href="{% url 'home' %}">
            <img src="{% static 'app/images/logo.jpg' %}" alt="logo">
        </a>
        <div class="header-actions">
            <button class="btn btnThacMac">Bạn có thắc mắc?</button>
            <button class="btn btnLuuThoat">Lưu và thoát</button>
        </div>

    </div>


    <div class="start-main scroll-area">
        <h1 class="question">Điều nào sau đây mô tả chính xác nhất về chỗ ở của bạn?</h1>

        <div class="options-grid">

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Căn hộ</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà nông trại</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Chỗ nghỉ phục vụ bữa sáng</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Thuyền</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Cabin</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Xe cắm trại/RV</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Casa particular</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Lâu đài</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Hang</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà container</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà theo phong cách Cycladic</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Dammuso</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà vòm</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà dưới lòng đất</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nông trai</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà khách</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Khách sạn</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà thuyền</p>
            </div>


            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Kezhan</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Minsu</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Riad</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Ryokan</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Liều mục đồng</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Liều vải</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà nhỏ</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Tháp</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà trên cây</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Nhà chỏm nón</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Cối xoay gió</p>
            </div>

            <div class="option-item">
                <img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" class="icon">
                <p>Liều yurt</p>
            </div>

        </div>
    </div>

    <div class="start-footer fixed-footer">
        <a href="{% url 'buoc1' %}" class="back-link">Quay lại</a>

         <a href="{% url 'duocuse' %}" class="next-btn">Tiếp theo</a>
    </div>
</div>

</body>
<script>
    const items = document.querySelectorAll('.option-item');
    const nextBtn = document.querySelector('.next-btn');

    let selectedItem = null;

    items.forEach(item => {
        item.addEventListener('click', () => {

            // Bỏ chọn tất cả
            items.forEach(i => i.classList.remove('selected'));

            // Chọn ô hiện tại
            item.classList.add('selected');
            selectedItem = item;

            // Bật nút "Tiếp theo"
            nextBtn.classList.remove('disabled');
            nextBtn.disabled = false;
        });
    });

    // Trạng thái ban đầu
    nextBtn.classList.add('disabled');
    nextBtn.disabled = true;
</script>

</html>