{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dịch Vụ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <!-- CSS riêng cho trang dịch vụ -->
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/service.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}">

</head>

<body>
    <header>
        <nav class="ab-header">
            <div class="ab-left">
                <div class="logo-wrap">
                    <img src="{% static 'app/images/Airbnb_Logo_Bélo.svg.png' %}" class="ab-logo">
                </div>
            </div>
            
            <div class="ab-center">    
                <div class="ab-menu">
                    <a href="{% url 'home' %}" class="ab-item"><i class="fa-solid fa-home"></i> Nơi lưu trú</a>
                    <a href="{% url 'experience' %}" class="ab-item">
                        <i class="fa-solid fa-compass"></i> Trải nghiệm 
                        <span class="badge-new">MỚI</span>
                    </a>
                    <a href="{% url 'service' %}" class="ab-item action">
                        <i class="fa-solid fa-concierge-bell"></i> Dịch vụ 
                        <span class="badge-new">MỚI</span>
                    </a>

                </div>
            </div>

            <div class="ab-right">
                <span class="host-btn"><i class="fa-solid fa-user-plus"></i> Trở thành host</span>

                <button class="ab-icon" aria-label="Ngôn ngữ"><i class="fa-solid fa-globe"></i></button>
                <button class="ab-icon" aria-label="Menu"><i class="fa-solid fa-bars"></i></button>
            </div>
        </nav>

        <nav class="ab-footer">
            <div class="ab-search">

                <!-- ITEM 1 -->
                <div class="ab-search-item">
                    <span class="label">Địa điểm</span>
                    <span class="value">Tìm kiếm điểm đến</span>
                </div>
                <div class="divider"></div>

                <!-- ITEM 2 -->
                <div class="ab-search-item">
                    <span class="label">Thời gian</span>
                    <span class="value">Thêm ngày</span>
                </div>
                <div class="divider"></div>

                <!-- ITEM 3 + SEARCH BUTTON -->
                <div class="search-last">
                    <div class="search-last-left">
                        <span class="label">Khách</span>
                        <span class="value">Thêm khách</span>
                    </div>

                    <button class="ab-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </div>
        </nav>

    </header>

    <!-- SECTION: ĐẦU BẾP -->
    <section class="service-section cards-section">
        <div class="section-header">
            <h2>Đầu bếp</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="{% static 'app/images/64a9113d-05fa-44f7-95c8-24088567bf0d.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Bữa ăn La Mã đích thực</h4>
                <p>Từ ₫1.987.574/khách · ★4,97</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/4bc4102d-3381-40b8-bf43-be3142c040ee.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Giá vé siêu địa phương</h4>
                <p>Từ ₫2.608.048/khách · ★5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/6cc0ffd7-bd7c-450b-9be0-a4ff434c6308.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Đằng sau ngọn lửa</h4>
                <p>Tối thiểu ₫1.726.698 · ★5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/d4.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Thực đơn Cali–Mediterranean</h4>
                <p>Tối thiểu ₫1.075.136 · ★5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/d5.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực Catalan</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/d6.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực Catalan</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/d7.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực Catalan</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>
        </div>
    </section>


    <!-- SECTION: ĐÀO TẠO -->
    <section class="service-section">
        <div class="section-header">
            <h2>Đào tạo</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="{% static 'app/images/t1.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện toàn thân bởi Peter</h4>
                <p class="location">Từ ₫1.317.196 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/t2.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Huấn luyện cá nhân và thể dục nhóm</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/t3.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện năng lượng cao của Vicky</h4>
                <p class="location">Từ ₫4.215.027 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/t4.webp' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện phục hồi của Taylor</h4>
                <p class="location">Từ ₫1.791.387 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/t5.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Sun-sweat by Nishant</h4>
                <p class="location">Từ ₫2.634.392 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/t6.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Yoga nghi lễ của Ana Ponzo</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/t7.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Sun-sweat by Nishant</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

        </div>
    </div>
    </section>


    <!-- SECTION: MASSAGE -->
    <section class="service-section">
        <div class="section-header">
            <h2>Massage</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="{% static 'app/images/m1.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Thư giãn và mát-xa cơ sâu bởi Javier</h4>
                <p class="location">Từ ₫1.366.970 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/m2.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage tốt Dịch vụ di động</h4>
                <p class="location">Từ ₫3.951.588 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/m3.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Phục hồi và thư giãn bởi Deisy</h4>
                <p class="location">Từ ₫1.580.635 /khách · ★ 4,69</p>
            </div>

            <div class="card">
                <img src="{% static 'app/images/m4.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage trị liệu bằng hương thơm của Jenna</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/m5.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage cơ sâu của Olga - London</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/m6.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>The Massage Escape Guy</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="{% static 'app/images/m7.avif' %}">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Liệu pháp Ayurvedic với dầu của Tania</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

        </div>
    </div>
    </section>
    <!--FOOTER-->
    {% include 'app/footer.html' %}
</body>
<script src="{% static 'app/js/luotcard.js' %}"></script>
</html>