{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dịch Vụ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <!-- CSS riêng cho trang dịch vụ -->
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/service.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}">

</head>

<body>
    {% include 'app/header.html' with active_page='service' %}
    <!-- SECTION: ĐẦU BẾP -->
    <section class="service-section cards-section">
        <div class="section-header">
            <h2>Đầu bếp</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/lombard/MtTemplate-1270677-active_media/original/64a9113d-05fa-44f7-95c8-24088567bf0d.jpg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Bữa ăn La Mã đích thực</h4>
                <p>Từ ₫1.987.574/khách · ★4,97</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6068057/original/4bc4102d-3381-40b8-bf43-be3142c040ee.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Giá vé siêu địa phương</h4>
                <p>Từ ₫2.608.048/khách · ★5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6099393/original/6cc0ffd7-bd7c-450b-9be0-a4ff434c6308.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Đằng sau ngọn lửa</h4>
                <p>Tối thiểu ₫1.726.698 · ★5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-5982667/original/ccf6d547-5504-4188-9bf7-6e61169b8ce6.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Thực đơn</h4>
                <p>Tối thiểu ₫1.075.136 · ★5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6093232/original/e4b6f0c2-8816-4c16-80ff-9649a67bc842.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6074083/original/3c9d07cf-cddf-489e-a850-ebe3ada9cf45.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6068103/original/d3900905-e8ea-4c41-ae4f-bab115e3e842.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Ẩm thực</h4>
                <p>Từ ₫1.223.123/khách</p>
            </div>
        </div>
    </section>


    <!-- SECTION: ĐÀO TẠO -->
    <section class="service-section">
        <div class="section-header">
            <h2>Đào tạo</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6056059/original/2adb850a-d47f-4d1b-948f-b0f26845c296.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện toàn thân bởi Peter</h4>
                <p class="location">Từ ₫1.317.196 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6073353/original/4b5b77b0-540a-4f76-9522-f83a5999e558.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Huấn luyện cá nhân và thể dục nhóm</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6099352/original/4739de7e-1648-41f8-8fba-5c68967ca7a9.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Yoga</h4>
                <p class="location">Từ ₫4.215.027 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6089722/original/a9b1fbc7-6912-459f-85bb-ba9749bad9cb.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện năng lượng cao của Vicky</h4>
                <p class="location">Từ ₫1.791.387 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6058137/original/745cf093-7f9b-4e22-96b6-b036418fe04d.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Tập luyện phục hồi của Taylor</h4>
                <p class="location">Từ ₫2.634.392 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6081161/original/99d040cb-125c-4ace-b6f1-9ddf35e818ff.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Yoga nghi lễ của Ana Ponzo</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-3246613/original/568717ca-33c8-4fec-9e67-5c1b479abca1.jpeg?im_w=960">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Yoga buổi sáng</h4>
                <p class="location">Từ ₫2.257.905 /khách · ★ 5,0</p>
            </div>

        </div>
    </div>
    </section>


    <!-- SECTION: MASSAGE -->
    <section class="service-section">
        <div class="section-header">
            <h2>Massage</h2>
            <!-- NÚT LƯỚT -->
            <div class="slider-controls">
                <button class="slide-btn left" onclick="slideLeft(this)">❮</button>
                <button class="slide-btn right" onclick="slideRight(this)">❯</button>
            </div>
        </div>
        <!-- WRAPPER CHO SCROLL -->
        <div class="cards-wrapper">
        <div class="cards-row">

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/9fdf25ec-ef31-4d43-b040-9ed15f0a644a.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Thư giãn và mát-xa cơ sâu bởi Javier</h4>
                <p class="location">Từ ₫1.366.970 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/765f80bc-3ae0-48fb-b08f-cf98f1186bdf.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage tốt Dịch vụ di động</h4>
                <p class="location">Từ ₫3.951.588 /khách · ★ 5,0</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/Mt/MtTemplate-6029674/original/398e36ae-b004-4f28-bda0-33d6b536a213.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Phục hồi và thư giãn bởi Deisy</h4>
                <p class="location">Từ ₫1.580.635 /khách · ★ 4,69</p>
            </div>

            <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/c45323ea-ab55-4eff-a02a-da0e009acd95.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage trị liệu bằng hương thơm của Jenna</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/58378f6b-148c-4224-97d4-487de57d31b8.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Massage cơ sâu của Olga - London</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/66e4c161-3f57-4396-8965-4ba15c3fb33b.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>The Massage Escape Guy</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

             <div class="card">
                <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Services-123/original/6ba42ce9-01bb-44ad-b5f0-026e2bbe4547.jpeg?im_w=480">
                <div class="card-heart"><i class="fa-regular fa-heart"></i></div>
                <h4>Liệu pháp Ayurvedic với dầu của Tania</h4>
                <p class="location">Từ ₫4.741.906 /khách · ★ 5,0</p>
            </div>

        </div>
    </div>
    </section>
      <!--FOOTER-->
          {% include 'app/footer.html' %}
</body>
<script src="{% static 'app/js/luotcard.js' %}"></script>
</html>