{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tạo bài đăng</title>
    <link rel="stylesheet" href="{% static 'app/css/taobaidang.css' %}">
</head>
<body>
<div class="start-container">


    <div class="start-header">
        <img src="{% static 'app/images/logo.jpg' %}" alt="logo">
        <a href="{% url 'home' %}" class="btnThoat">Thoát</a>
    </div>

    <div class="start-layout">
        <div class="start-left">
            <h1>Bắt đầu trên HomeNest thật dễ dàng</h1>
        </div>

        <div class="start-right">
            <div class="step-item">
                <div class="step-number">1</div>
                <div class="step-content">
                    <h3>Chia sẻ thông tin về chỗ ở của bạn cho chúng tôi</h3>
                    <p>Chia sẻ một số thông tin cơ bản, như vị trí của nhà/phòng cho thuê và số lượng khách có thể ở tại đó.</p>
                </div>
                <img src="https://a0.muscache.com/im/pictures/da2e1a40-a92b-449e-8575-d8208cc5d409.jpg?im_w=720">
            </div>

            <div class="deliver"></div>

            <div class="step-item">
                <div class="step-number">2</div>
                <div class="step-content">
                    <h3>Làm cho nhà/phòng cho thuê trở nên nổi bật</h3>
                    <p>Thêm từ 5 ảnh trở lên cùng với tiêu đề và nội dung mô tả – chúng tôi sẽ giúp bạn thực hiện.</p>
                </div>
                <img src="https://a0.muscache.com/im/pictures/bfc0bc89-58cb-4525-a26e-7b23b750ee00.jpg?im_w=720">
            </div>

            <div class="deliver"></div>


            <div class="step-item">
                <div class="step-number">3</div>
                <div class="step-content">
                    <h3>Hoàn thiện và đăng mục cho thuê</h3>
                    <p>Chọn giá khởi điểm, xác minh một vài thông tin, sau đó đăng bài đăng của bạn.</p>
                </div>
                <img src="https://a0.muscache.com/im/pictures/c0634c73-9109-4710-8968-3e927df1191c.jpg?im_w=720">
            </div>

            <div class="deliver"></div>


        </div>
    </div>

    <div class="start-footer">
        <button class="start-btn">Bắt đầu</button>
    </div>
</div>
</body>
</html>