/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ffffff;
}

header {
    background-color: #ffffff;
}
/* header and search styles moved to header.css */
